.clients-section{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    gap:30px;
    padding-left:0px;
    margin-top:0px;
    margin-bottom:0px;
    padding-top: 30px;
}
.client-section__logo-border{
    box-sizing: border-box;
    width:210px;
    height:92px;
    border: 1px solid var(--color_7);
    border-radius: 4px;
    cursor: pointer;
    @media (min-width:768px){
        width:226px;
    }
    @media (min-width:1200px){
        width:170px;
    }
&:hover{
    border-color:var(--color_1);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border-color;
& svg{
    fill:var(--color_1);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
}    
}
}
.cilents-section__item{
    flex-basis: calc((100% - 30px) /2);
    @media (min-width:768px){
        flex-basis: calc((100% - 60px) /3);
    }
    @media (min-width){
        flex-basis: calc((100% - 150px) /6);
    }
}
.client-section__logo{
    width:106px;
    height:60.04px;
    margin-left:52px;
    margin-right:52px;
    margin-top:16px; 
    fill:var(--color_2);
    @media (min-width:768px){
        margin-left:60px;
        margin-right:60px;
    }
    @media (min-width:1200px){
        margin-left:32px;
        margin-right:32px;
    }
}


