.modal{
    margin:auto;
    width:450px;
    height:609px;
    background:var(--color_3);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    display:flex;
    flex-direction: column;
    @media (min-width:1200px){
        width:528px;
        height:581px;
    }
}
.modal__close-btn-svg{
    width:11px;
    height:11px;
    margin-bottom:1.2px;
}
.modal__close-btn{
    border-radius: 50%;
    width:18px;
    height:18px;
    margin-top:8px;
    margin-left:92%;
    cursor: pointer;
    padding:0px;
    border-color:var(--color_12);
    background-color: rgba(255, 255, 255, 0);
}
.modal__title{
    font-weight: 700;
    font-size:20px;
    text-align:center;
    color:var(--color_6);
    letter-spacing: 0.03em;
    margin-top:0px;
    margin-bottom:0px;
    padding-left:40px;
    padding-right:40px;
    @media (min-width:1200px){
        padding-top:26px;
    }
}
.modal__input-position{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left:40px;
    padding-right:40px;
}
.modal__input-title{
    font-weight:400px;
    font-size: 12px;
    color:var(--color_2);
    margin-top:0px;
    margin-bottom:0px;
    padding-top:12px;
    padding-bottom:4px;
}
.modal__input{
    position:relative;
    width:100%;
    height:38px;
    border-radius: 4px;
    padding:0px;
    border:1px solid var(--color_13);
    border-radius: 4px;
    padding-left:42px;
&:focus{
     border-color: var(--color_1);
    outline-color: var(--color_1);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0,4, 0, 0.2, 1);
    transition-property: border-color;
    transition-property: outline-color;
&~svg{
    fill:var(--color_1);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0,4, 0, 0.2, 1);
    transition-property: fill;
}
}
}
.modal__input-icons{
    position:absolute;
    left:39px;
    width:18px;
    height:18px;
    fill:var(--color6);
    margin-top: 11px;
    margin-bottom: 11px;
    margin-left:12px;
    z-index: 2;
}
.modal__input-comment{
    font-weight:400px;
    font-size:12px;
    line-height: 0.86;
    color:var(--color_19);
    padding-left:16px;
    border: 1px solid var(--color_13);
    border-radius: 4px;
    width:100%;
&:focus{
    border-color: var(--color_1);
    outline-color:var(--color_1);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0,4, 0, 0.2, 1);
    transition-property: border-color;
    transition-property: outline-color;
}
}
.modal__regulations{
    display:flex;
    padding-top: 20px;
    padding-bottom:30px;
    justify-content: center;
    position: relative;
    margin-left:30px;
    margin-right:30px;
}
.modal__regulation-check-icon{
    position:absolute;
    width:11px;
    height:8px;
    left:17px;
    @media (min-width:1200px){
        left:39px;
    }
}
.modal__regulation-box-check-icon{
    width:16px;
    height:15px;
    border-radius: 2px;
    border:0.5px solid rgba(0, 0, 0, 1);
}
input[type="checkbox"]{
    visibility: hidden;
}
.modal__checkbox{
&:checked~span svg{
    background-color:var(--color_1);
    border-color: var(--color_1);
}
}
.modal__text-regulations{
    font-weight:400px;
    font-size:12px;
    color:var(--color2);
    margin-top:0px;
    margin-bottom:0px;
    padding-left:7px;
    @media (min-width:1200px){
        font-size:14px;
    }
&--link{
    color:var(--color_1);
}
}
.modal__send-button{
    width: 200px;
    height:50px;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:76px;
    padding-left:76px;
    background-color:var(--color_1);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;  
}
.modal__send-button-text{
   font-weight:700px;
   font-size:16px;
   color:var(--color_3);
   letter-spacing:0.06em;
   margin-top:0px;
   margin-bottom:0px;
}
.modal__button-position{
    display:flex;
    justify-content:center;
}