.text-section{
    display:block;
    margin-bottom:0px;
    margin-top:0px;
    padding-left:0px;
&__icons{
    width:70px;
    height:70px;
}
&__background-icons{
    display:block;
    width:450px;
    height:120px;
    padding:25px 190px;
    margin-bottom:30px;
    background-color:var(--color_4);
}
&__title{
    text-align:center;
    font-weight: 700; 
    font-size: 14px;
    color:var(--color_6);
    margin-bottom: 10px;
}
&__contents{
    font-weight: 400; 
    font-size: 14px; 
    color:var(--color_2);
    margin-top:0px;
    margin-bottom:30px;
}
}
@media (min-width:768px){
.text-section{
    display:flex;
    flex-wrap:wrap;
    gap:30px;
    margin-top:0px;
    margin-bottom:0px;
    padding-left:0px;
    }
.text-section__item{
    flex-basis: calc((100% - 30px) /2);
}
.text-section__background-icons{
    display:flex;
    width:354px;
    height:120px;
    padding:25px 142px;
    margin-bottom:30px;
    }
.text-section__title{
    text-align: start;
    margin-top:0px;
    }
.text-section__contents{
    margin-bottom:0px;
}
}
@media (min-width:1200px){
.text-section{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top:0;
    margin-bottom:0;
    padding-left:0;
}
.text-section__item{
    flex-basis: calc((100% - 90px) /4);
}    
.text-section__background-icons{
    display:flex;
    align-items:center;
    justify-content:center;
    width:270px;
    height:120px;
    margin-bottom: 30px;
    padding: 25px 100px;
    background-color:var(--color_4);
}
}

