.container__h1-wrapper{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header-img_sm.jpg);
    width:100%;
    height:400px;
    background-size: 480px 400px;
    margin:0,auto;
    padding-top:118px;
    padding-bottom:118px;
}
@media (min-device-pixel-ratio: 2),
(min-resolution:192dpi),
(min-resolution: 2dppx){
.container__h1-wrapper{
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header_img_sm@2x.jpg);
    }
}
@media (min-width:320px){
    .container__h1-wrapper{
        background-position: none;
    }
}
@media (min-width: 768px){
.container__h1-wrapper{
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header-img_md.jpg);
    background-size: 768px 400px;
}
}
@media (min-width: 768px){
    @media (min-device-pixel-ratio: 2),
(min-resolution:192dpi),
(min-resolution: 2dppx){
    .container__h1-wrapper{
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header-img_md@2x.jpg);
    }
}
}
@media (min-width: 1200px){
    .container__h1-wrapper{
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop_version/Header-img_lg.jpg);
        width:100%;
        height:600px;
        background-size: 1600px 600px;
        padding-top:200px;
        padding-bottom:200px;
        margin:0,auto;
}
}
@media (min-width1200px){
    @media (min-device-pixel-ratio: 2),
(min-resolution:192dpi),
(min-resolution: 2dppx){
    .container__h1-wrapper{
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop_version/Header-img_lg@2x.jpg);
    }
}
}
.button-h1-wrapper{
    font-family: inherit; 
    font-weight: 700; font-size: 16px; 
    color:var(--color_3); 
    text-align: center; border: 0; 
    background-color:var(--color_1); 
    display: flex; 
    width: 200px; 
    height: 50px; 
    justify-content: center; 
    align-items: center;
     margin:0 auto; 
     margin-top:30px; 
     cursor:pointer;
}